@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;
.logoWrap {
  margin-bottom: 2rem;
  text-align: center;
}

.iconWrap {
  display: inline-block;
}

.title {
  margin-bottom: 1rem;
  font-size: 2.25rem;
  font-weight: 700;
  color: $white;
}

.subtitle {
  color: rgba(255, 255, 255, 0.5);
}

