@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;
.wrapper {
  margin-top: 2rem;
  text-align: center;
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;

  .link {
    color: $white-50;
    transition: color 0.2s ease;
    text-decoration: none;

    &:hover {
      color: $white;
    }
  }

  .separator {
    color: $white-30;
  }
}

