@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;
.page {
  min-height: 100vh;
  background: $black;
  padding-top: $pt-header;
  padding-bottom: 5rem;
}

.inner {
  @include container;
  padding-top: 4rem;
}

.layout {
  display: grid;
  gap: 3rem;

  @include respond-lg {
    grid-template-columns: 2fr 1fr;
  }
}
